.bk-book {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .5s, margin .5s;
	-moz-transition: -moz-transform .5s, margin .5s;
	transition: transform .5s, margin .5s;
}

.bk-book > div,
.bk-front > div {
	display: block;
	position: absolute;
}

.bk-front {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform .5s;
	-moz-transition: -moz-transform .5s;
	transition: transform .5s;
	-webkit-transform: translate3d(0,0,20px);
	-moz-transform: translate3d(0,0,20px);
	transform: translate3d(0,0,20px);
	z-index: 10;
}

.bk-front > div {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.bk-page {
	-webkit-transform: translate3d(0,0,19px);
	-moz-transform: translate3d(0,0,19px);
	transform: translate3d(0,0,19px);
	display: none;
	width: 100%;
	height: 100%;
  overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 9;
}
.bk-page > div{
  margin-left: -100%;
}

.bk-front,
.bk-back,
.bk-front > div {
	width: 100%;
	height: 100%;
}

.bk-left,
.bk-right {
	width: 40px;
	left: -20px;
}

.bk-top,
.bk-bottom {
	width: 495px;
	height: 40px;
	top: -15px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bk-back {
	-webkit-transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
	-moz-transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
	transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
}

.bk-cover-back {
	background-color: #000;
	-webkit-transform: rotate3d(0,1,0,-180deg);
	-moz-transform: rotate3d(0,1,0,-180deg);
	transform: rotate3d(0,1,0,-180deg);
  overflow: hidden;
}

.bk-right {
	height: 390px;
	top: 5px;
	-webkit-transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
	-moz-transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
	transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bk-left {
	height: 100%;
	-webkit-transform: rotate3d(0,1,0,-90deg);
	-moz-transform: rotate3d(0,1,0,-90deg);
	transform: rotate3d(0,1,0,-90deg);
}

.bk-top {
	-webkit-transform: rotate3d(1,0,0,90deg);
	-moz-transform: rotate3d(1,0,0,90deg);
	transform: rotate3d(1,0,0,90deg);
}

.bk-bottom {
	-webkit-transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
	-moz-transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
	transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
}

/* Transform classes */

.bk-viewinside {
  margin-left: 47%;
}

.bk-viewinside .bk-front {
	-webkit-transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
	-moz-transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
	transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
}

.bk-book.bk-viewinside {
	-webkit-transform: translate3d(0,0,200px) rotate3d(0,1,0,0deg);
	-moz-transform: translate3d(0,0,200px) rotate3d(0,1,0,0deg);
	transform: translate3d(0,0,200px) rotate3d(0,1,0,0deg);
}

.bk-book.bk-viewback {
	-webkit-transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
	-moz-transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
	transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
}

.bk-viewback .bk-back {
	z-index: 10;
}

/* Main colors and content */

.bk-front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 0px;
}
.bk-cover:after,
.bk-back:after {
	content: '';
	position: absolute;
	top: 0;
	left: 10px;
	bottom: 0;
	width: 3px;
	background: rgba(0,0,0,0.06);
}

.bk-back:after {
	left: auto;
	right: 10px;
}

/* Individual style */

.bk-book .bk-front > div,
.bk-book .bk-back,
.bk-book .bk-left,
.bk-book .bk-front:after {
	background-color: #241F20;
}

.bk-book .bk-cover{
  display: table;
  width:100%;
  height:100%;
  overflow: hidden;
  cursor: default;
}
.bk-book .bk-cover .color-container{
  position:absolute;
  width:100%;
  height:10%;
  bottom:0;
  left:0;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  transition: height 0.5s;
  cursor: pointer;
}
.bk-book .bk-cover .color-container.before{
  top:0;
}
.bk-book .bk-cover .color-container.hidden{
  height:0%;
  display:block;
}
.bk-book .bk-cover .color-square{
  width: 10%;
  height: 100%;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

.bk-book .bk-cover .bk-title{
  display: table-cell;
  vertical-align:middle;
  color: #fff;
  text-transform: uppercase;
}
.bk-book .bk-cover .bk-title div{
  display:block;
  width: 343px;
  margin:auto;
}
.bk-book .bk-cover .bk-title h1{
  font: 800 4em "open sans";
  line-height: 1em;
}
.bk-book .bk-cover .bk-title h2{
  text-align: right;
  font: 800 1em "open sans";
}
.bk-book .bk-cover .bk-title h2.before{
  text-align: left;
  margin-left: 3px;
  line-height: 1em;
}
.highlight{
  color: #ED5565;
}

.bk-book .bk-cover h3{
  position: absolute;
  bottom: 15%;
  left: 0;
  text-align: center;
  width: 100%;
  font: 800 0.7em "open sans";
  color: #fff;
  text-transform: uppercase;
}

.bk-book .bk-content p {
	font-family: Georgia, Times, "Times New Roman", serif;
}

.bk-book .bk-left h2 {
	color: #fff;
	font-size: 15px;
	line-height: 40px;
	padding-right: 10px;
	text-align: right;
}

.bk-book .bk-back{
  display: table;
  overflow: hidden;
}

.bk-book .bk-back p {
	color: #fff;
	font-size: 0.9em;
	padding: 40px;
	text-align: center;
	font-weight: 700;
  position: absolute;
  width: 100%;
}

.bk-book .bk-back h1{
  font: 800 8em "open sans";
  text-align: center;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.bk-book .bk-page .color-square,
.bk-book .bk-cover-back .color-square{  
  display: table;
  width: 50%;
  height: 100%;
  float: left;
  font: 800 8em "open sans";
  text-align: center;
  color: #111;
}

.bk-book .bk-page .color-square span,
.bk-book .bk-cover-back .color-square span{
  display: table-cell;
  vertical-align: middle;
}

/* Colors */

.background-color-ED5565{ background-color: #ED5565 }
.color-ED5565{ color: #ED5565 }
.background-color-DA4453{ background-color: #DA4453 }
.color-DA4453{ color: #DA4453 }
.background-color-FC6E51{ background-color: #FC6E51 }
.color-FC6E51{ color: #FC6E51 }
.background-color-E9573F{ background-color: #E9573F }
.color-E9573F{ color: #E9573F }
.background-color-FFCE54{ background-color: #FFCE54 }
.color-FFCE54{ color: #FFCE54 }
.background-color-FCBB42{ background-color: #FCBB42 }
.color-FCBB42{ color: #FCBB42 }
.background-color-A0D468{ background-color: #A0D468 }
.color-A0D468{ color: #A0D468 }
.background-color-8CC152{ background-color: #8CC152 }
.color-8CC152{ color: #8CC152 }
.background-color-48CFAD{ background-color: #48CFAD }
.color-48CFAD{ color: #48CFAD }
.background-color-37BC9B{ background-color: #37BC9B }
.color-37BC9B{ color: #37BC9B }
.background-color-4FC1E9{ background-color: #4FC1E9 }
.color-4FC1E9{ color: #4FC1E9 }
.background-color-3BAFDA{ background-color: #3BAFDA }
.color-3BAFDA{ color: #3BAFDA }
.background-color-5D9CEC{ background-color: #5D9CEC }
.color-5D9CEC{ color: #5D9CEC }
.background-color-4A89DC{ background-color: #4A89DC }
.color-4A89DC{ color: #4A89DC }
.background-color-AC92EC{ background-color: #AC92EC }
.color-AC92EC{ color: #AC92EC }
.background-color-967ADC{ background-color: #967ADC }
.color-967ADC{ color: #967ADC }
.background-color-EC87C0{ background-color: #EC87C0 }
.color-EC87C0{ color: #EC87C0 }
.background-color-D770AD{ background-color: #D770AD }
.color-D770AD{ color: #D770AD }
.background-color-AAB2BD{ background-color: #AAB2BD }
.color-AAB2BD{ color: #AAB2BD }
.background-color-656D78{ background-color: #656D78 }
.color-656D78{ color: #656D78 }

/* Fallbacks */

.no-csstransforms3d .bk-book > div,
.no-csstransforms3d .bk-book .bk-cover-back {
	display: none;
}

.no-csstransforms3d .bk-book > div.bk-front {
	display: block;
}

.no-csstransforms3d .bk-info button,
.no-js .bk-info button {
	display: none;
}

@media (max-width: 700px) { 
  body{
    font-size: 50%;
  }
  
  .bk-book .bk-cover .bk-title div {
    width: 184px;
  }
}

@media (max-width: 430px) { 
  body{
    font-size: 35%;
  }
  
  .bk-book .bk-cover .bk-title div {
    width: 128px;
  }
}